@charset "UTF-8";

/*Обнуление*/

@import url("https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

@font-face {
  font-family: "BravoRG";
  src: url("../fonts/BravoRGRegular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ceremon";
  src: url("../fonts/ceremonious_one.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PFDin";
  src: url("../fonts/pfdintextcondpro-regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PFDin-med";
  src: url("../fonts/pfdintextcondpro-medium.woff2");
  font-weight: 500;
  font-style: normal;
}

body {
  color: #000;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  position: relative;
  display: inline-block;
}

.btn::before,
.btn::after {
  content: "";
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
}

.btn::before {
  top: 0;
  background-color: #c3a774;
}

.btn::after {
  bottom: 0;
  background-color: #8f6630;
}

.btn__body::before,
.btn__body::after {
  content: "";
  position: absolute;
  top: 0;
  width: 3px;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#8f6630), to(#c3a774));
  background-image: -o-linear-gradient(bottom, #8f6630, #c3a774);
  background-image: linear-gradient(to top, #8f6630, #c3a774);
}

.btn__body::before {
  left: 0;
}

.btn__body::after {
  right: 0;
}

.btn__body span {
  display: block;
  padding: 0 50px;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "PFDin-med";
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  position: relative;
}

.btn__body span::after {
  content: "";
  height: 50%;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#bb9c66), to(rgba(187, 156, 102, 0)));
  background-image: -o-linear-gradient(bottom, #bb9c66 0%, rgba(187, 156, 102, 0) 100%);
  background-image: linear-gradient(to top, #bb9c66 0%, rgba(187, 156, 102, 0) 100%);
  opacity: 0.06;
}

.btn_big {
  text-align: center;
}

.btn_big .btn__body span {
  padding: 0 10px;
  font-size: 21px;
  color: black;
}

.btn._fw {
  width: 100%;
}

input {
  font-size: 15px;
  color: #4f4f4f;
  width: 100%;
  display: block;
  padding: 0 25px;
}

.title {
  text-align: center;
}

.title__item {
  font-family: "Ceremon";
  color: #bb9c66;
  font-size: 40px;
  letter-spacing: 6px;
  margin: 0 0 0.8em 0;
}

.title__main {
  color: black;
  font-family: "PFDin";
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5.25px;
}

.title__main-w {
  color: white;
}

.title__main-regular {
  font-family: "PFDin-med";
}

.block-header__title {
  margin-bottom: 20px;
}

.block-decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-decor__items {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-decor__items:before {
  content: "";
  height: 1px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #bb9c66;
}

.block-decor__items:after {
  content: "";
  width: 18px;
  height: 18px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18px;
          flex: 0 0 18px;
  border: 1px solid #bb9c66;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 0 5px;
}

.block-decor__items span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
}

.block-decor__items span:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #bb9c66;
  margin: 0 5px;
}

.block-decor__items span:after {
  content: "";
  width: 10.8px;
  height: 10.8px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10.8px;
          flex: 0 0 10.8px;
  border: 1px solid #bb9c66;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.block-decor__items:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.block-decor__items:last-child span {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.block-decor__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 145px;
          flex: 0 0 145px;
  text-align: center;
}

.block-decor__icon img {
  max-width: 100%;
}

.lot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-align: center;
}

.lot__img {
  display: block;
}

.lot__img img {
  border: 3px solid #bb9c66;
}

.lot__header {
  margin-bottom: -30px;
}

.lot__title {
  font-family: "PFDin-med";
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  z-index: 2;
  font-size: 21px;
  line-height: 1.1904761905;
  text-transform: uppercase;
  color: black;
  margin: 0 0 1.2857142857em 0;
}

.lot__btn {
  margin: 0 25px;
}

.timer-lot {
  width: 72px;
  height: 72px;
  -webkit-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2px;
}

.timer-lot div {
  position: relative;
  z-index: 2;
}

.timer-lot:before {
  content: "";
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.timer-lot__icon {
  margin-bottom: 3px;
}

.timer-lot__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-family: "PT Sans Narrow";
}

.info-lot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
}

.info-lot__statistic {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.info-lot__icon {
  width: 18px;
  height: 18px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0 auto 10px auto;
}

.info-lot__icon img {
  width: 14px;
  height: 8px;
  position: relative;
  z-index: 2;
}

.info-lot__icon::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: black;
}

.info-lot__value {
  font-size: 14px;
  padding-bottom: 5px;
  border-bottom: 1px solid #bb9c66;
}

.info-lot__current-bet {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.current-bet-info-lot {
  padding: 0 5px;
  position: relative;
}

.current-bet-info-lot:after {
  content: "";
  position: absolute;
  width: 72px;
  height: 72px;
  top: 0;
  left: 50%;
  -webkit-transform: rotate(45deg) translate(-20%, 40%);
      -ms-transform: rotate(45deg) translate(-20%, 40%);
          transform: rotate(45deg) translate(-20%, 40%);
  border: 1px solid #bb9c66;
}

.current-bet-info-lot div {
  position: relative;
  z-index: 2;
}

.current-bet-info-lot__label {
  margin-bottom: 5px;
}

.current-bet-info-lot__value {
  font-family: "BravoRG";
  font-size: 50px;
  white-space: nowrap;
}

.current-bet-info-lot__currency {
  padding-left: 9px;
}

.item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 10px 40px 10px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2;
}

.item__icon {
  text-align: center;
  position: relative;
  z-index: 2;
  margin-bottom: 22px;
}

.item__title {
  position: relative;
  z-index: 2;
  line-height: 1.1904761905;
  color: white;
  font-size: 21px;
  font-family: "PFDin-med";
  text-transform: uppercase;
  letter-spacing: 2.1px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item__decor {
  bottom: 15%;
  left: 30%;
  position: absolute;
  z-index: 2;
  text-align: center;
}

.item__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.item__bg:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.service {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.service__img {
  height: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.service__title {
  font-family: "PFDin-med";
  font-size: 21px;
  line-height: 1.1904761905;
  text-transform: uppercase;
  letter-spacing: 2.1px;
  color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  cursor: pointer;
}

.service__text {
  color: #bb9c66;
  line-height: 1.6666666667;
  font-size: 15px;
  font-weight: 400;
  margin-top: 23px;
  max-height: 50px;
  overflow: hidden;
}

.service__btn {
  position: relative;
  font-family: "PFDin-med";
  font-size: 21px;
  color: white;
  letter-spacing: 2.1px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  cursor: pointer;
}

.service__btn::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  top: 50%;
  left: 0;
  background-color: #bb9c66;
}

.service__btn span {
  background-color: #1c242a;
  position: relative;
  z-index: 2;
  padding: 0 15px;
}

.header {
  background-color: #1c242a;
  position: fixed;
  z-index: 50;
  width: 100%;
  left: 0;
  top: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
}

.header__logo {
  position: relative;
  z-index: 2;
  width: 144px;
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  white-space: nowrap;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__list li {
  margin: 0 15px;
}

.menu__link {
  font-family: "PFDin-med";
  text-transform: uppercase;
  letter-spacing: 1.4px;
  color: white;
}

.menu__link:active {
  color: #c3c3c3;
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.no-webp .actions-header__region{
  background: url("../img/globe.png") left no-repeat; }

.actions-header__region {
  position: relative;
  z-index: 2;
  font-family: "PFDin";
  text-transform: uppercase;
  letter-spacing: 1.4px;
  color: white;
  white-space: nowrap;
  padding-left: 35px;
  min-width: 25px;
  min-height: 25px;
  line-height: 25px;
}

.actions-header__user {
  margin-left: 30px;
}

.user-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-header__icon {
  cursor: pointer;
  position: relative;
  z-index: 2;
  top: 2px;
}

.user-header__menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #27323a;
  padding: 20px;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  z-index: 2;
  margin-top: 15px;
}

.user-header__menu li {
  margin-bottom: 8px;
}

.user-header__menu li:last-child {
  margin-bottom: 0;
}

.user-header__menu._active {
  top: 55px;
  opacity: 1;
  visibility: visible;
}

.user-header__link {
  color: white;
  padding-left: 30px;
  display: inline-block;
  line-height: 18px;
}

.no-webp .user-header__link_1{
  background: url("../img/globe_hover.png") left center no-repeat; }

.no-webp .user-header__link_2{
  background: url("../img/key.png") left center no-repeat; }

.user-header__link_2 {
  padding-right: 10px;
}

.no-webp .user-header__link_3{
  background: url("../img/hand.png") 3px center no-repeat; }

.no-webp .user-header__link_4{
  background: url("../img/hammer.png") left center no-repeat; }

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 75px;
}

.main-slider {
  position: relative;
}

.main-slider .swiper-wrapper {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.main-slider__control {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  -webkit-transform: translate(-50%, -38%);
      -ms-transform: translate(-50%, -38%);
          transform: translate(-50%, -38%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-slider__control::after {
  content: "";
  background-color: white;
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.main-slider .item-main-slider {
  position: relative;
  padding: 30px 0 100px 0;
  text-align: center;
}

.main-slider .item-main-slider__content {
  position: relative;
  z-index: 2;
  height: 100%;
}

.main-slider .item-main-slider__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-slider .item-main-slider__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
  top: 0;
  left: 0;
}

.main-slider .item-main-slider__text {
  max-width: 700px;
  margin: 38px auto 25px auto;
  line-height: 1.6666666667;
  color: white;
  font-size: 15px;
  font-family: "PFDin";
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-slider .control-main-slider {
  z-index: 5;
}

.no-webp .main-slider .control-main-slider__arrow{
  background: url("../img/arrows.png") 0 0 no-repeat; }

.main-slider .control-main-slider__arrow {
  z-index: 1;
  position: relative;
  width: 14px;
  height: 24px;
  cursor: pointer;
}

.main-slider .control-main-slider__arrow_next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main-slider .control-main-slider__decor {
  z-index: 1;
  position: relative;
  margin: 0 12px;
  -webkit-animation: rotate 5s infinite linear;
          animation: rotate 5s infinite linear;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.lots {
  position: relative;
  z-index: 1;
  padding: 85px 0 63px 0;
}

.lots__header {
  margin-bottom: 40px;
}

.slider-lots__body {
  margin: 0 -50px 50px;
}

.slider-lots__body .swiper-wrapper {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.slider-lots__slide {
  padding: 0 50px;
}

.control-slider-lots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.control-slider-lots__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.no-webp .control-slider-lots__arrow span{
  background: url("../img/arrow_lots.png") left no-repeat; }

.control-slider-lots__arrow span {
  overflow: hidden;
  width: 108px;
  height: 35px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 108px;
          flex: 0 0 108px;
}

.control-slider-lots__arrow span:hover {
  opacity: 0.5;
  -webkit-transition: opacity 0.7s ease;
  -o-transition: opacity 0.7s ease;
  transition: opacity 0.7s ease;
}

.control-slider-lots__arrow:after {
  content: "";
  margin: 0 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #bb9c66;
}

.control-slider-lots__arrow:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.control-slider-lots__arrow:last-child span {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.no-webp .control-slider-lots__link{
  background: url("../img/circle_lots.png") 0 0 no-repeat; }

.control-slider-lots__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 21px;
  color: black;
  font-family: "PFDin-med";
  text-transform: uppercase;
  margin: 0 20px;
}

.info-lot__icon_2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-lot__icon_2 img {
  width: 10px;
  height: 13px;
  padding-left: 1px;
}

.categories {
  margin-bottom: 70px;
}

.categories__items {
  margin-bottom: 85px;
}

.categories__container {
  overflow: hidden;
  position: relative;
}

.categories__container::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 45px;
  background-color: white;
  width: 100%;
  z-index: 2;
}

.categories__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -50px;
  position: relative;
  padding-top: 39px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories__row::before,
.categories__row::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 9px;
  left: 50%;
  width: 17.28px;
  height: 17.28px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17.28px;
          flex: 0 0 17.28px;
  -webkit-transform: rotate(45deg) translate(-50%, 0);
      -ms-transform: rotate(45deg) translate(-50%, 0);
          transform: rotate(45deg) translate(-50%, 0);
  margin-left: -1px;
  border: 1px solid #bb9c66;
}

.categories__row:before {
  left: 33.333%;
}

.categories__row:after {
  left: 66.667%;
}

.categories__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 50px 25px;
  margin-bottom: 25px;
  position: relative;
}

.categories__column::before {
  content: "";
  border-radius: 50%;
  background-color: #bb9c66;
  width: 10px;
  height: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: -5px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.categories__decor {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  width: 24px;
  height: calc(100% + 9px);
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories__decor::before {
  content: "";
  width: 1px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #bb9c66;
}

.categories__decor::after {
  content: "";
  width: 17.28px;
  height: 17.28px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17.28px;
          flex: 0 0 17.28px;
  border: 1px solid #bb9c66;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 15px;
}

.categories__decor span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories__decor span::before {
  content: "";
  border-radius: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  width: 10px;
  height: 10px;
  margin: 20px 0;
  background-color: #bb9c66;
}

.categories__decor span::after {
  content: "";
  width: 1px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #bb9c66;
}

.categories .text-categories {
  position: relative;
  z-index: 2;
  color: #333333;
  font-size: 15px;
  line-height: 1.6666666667;
}

.categories .text-categories p {
  margin-bottom: 25px;
}

.no-webp .categories .text-categories__body{
  background: url("../img/decor_text.png") left top repeat-y; }

.categories .text-categories__body {
  padding: 10px 0 20px 130px;
  position: relative;
}

.no-webp .categories .text-categories__body::before{
  background: url("../img/decor_text_header.png") 0 0 no-repeat; }

.categories .text-categories__body::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 85px;
  height: 12px;
}

.services {
  position: relative;
  z-index: 2;
  padding: 60px 0 40px 0;
  background-color: #1c242a;
}

.services__header {
  margin-bottom: 40px;
}

.services__row {
  margin: 0 -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services__column {
  padding: 0 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin-bottom: 50px;
}

.quotes {
  position: relative;
  z-index: 2;
  padding: 64px 0 75px 0;
}

.quotes .slider-quotes__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0 !important;
}

.quotes .slider-quotes__slide.swiper-slide-active {
  opacity: 1 !important;
}

.quotes .slider-quotes__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.6842105263%;
          flex: 0 0 33.6842105263%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.quotes .slider-quotes__img img {
  max-width: 100%;
}

.quotes .slider-quotes__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 515px;
          flex: 0 1 515px;
}

.quotes .slider-quotes__title {
  font-size: 25px;
  line-height: 1.2;
  font-style: italic;
  margin: 0 0 1.2em 0;
}

.quotes .slider-quotes__info {
  color: #1c242a;
  font-size: 15px;
}

.quotes .slider-quotes__info p {
  margin-bottom: 7px;
}

.quotes .slider-quotes__info p:last-child {
  margin-bottom: 0;
}

.quotes .control-slider-quotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  max-width: 400px;
  margin: 0 auto;
}

.quotes .control-slider-quotes__decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quotes .control-slider-quotes__decor::before {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 1px;
  background-color: #bb9c66;
}

.quotes .control-slider-quotes__decor:after {
  content: "";
  width: 10px;
  border-radius: 50%;
  height: 10px;
  border: 1px solid #bb9c66;
  margin-left: 5px;
}

.quotes .control-slider-quotes__decor:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.quotes .control-slider-quotes__decor:last-child::after {
  margin-right: 5px;
}

.quotes .control-slider-quotes__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  text-align: center;
}

.no-webp .quotes .control-slider-quotes__circle{
  background: url("../img/refresh.png") center no-repeat; }

.quotes .control-slider-quotes__circle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 50%;
  border: 1px solid #bb9c66;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-animation: rotate 5s infinite linear;
          animation: rotate 5s infinite linear;
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.info {
  position: relative;
  z-index: 2;
  padding-bottom: 75px;
}

.info__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -22px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 22px;
  margin-bottom: 55px;
}

.info__column:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin: 0;
}

.info__item {
  margin-bottom: 30px;
}

.info__date {
  color: #bb9c66;
  font-size: 12px;
  margin-bottom: 5px;
}

.info__label {
  font-size: 15px;
  color: #333333;
  font-weight: 700;
  text-decoration: underline;
  display: inline-block;
  margin-bottom: 5px;
  cursor: pointer;
}

.info__text {
  font-size: 15px;
  line-height: 1.4;
}

.title-info_news img {
  width: 17px;
  height: 25px;
}

.title-info_events img {
  width: 21px;
  height: 25px;
}

.title-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 35px;
  font-family: "PFDin-med";
  text-transform: uppercase;
  letter-spacing: 3.5px;
  margin-bottom: 30px;
}

.title-info span:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

.subscribe__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -22px;
}

.subscribe__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 22px;
}

.form-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border: 3px solid #bb9c66;
  background-color: white;
}

.form-subscribe._focus {
  border: 3px solid #b2760d;
  -webkit-box-shadow: 0 0 6px #b2760d;
          box-shadow: 0 0 6px #b2760d;
}

.form-subscribe__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.form-subscribe__btn {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 95px;
          flex: 0 0 95px;
  background-color: white;
}

.form-subscribe__btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 1px;
  height: 32px;
  background-color: #bb9c66;
}

.no-webp .form-subscribe__btn span{
  background: url("../img/email_arrow.png") right no-repeat; }

.form-subscribe__btn span {
  padding-right: 32px;
  color: #1c242a;
  font-family: "PFDin-med";
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 2.12px;
}

.footer {
  padding: 45px 0;
  background-color: #1c242a;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__column_full {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer__column:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 25px;
}

.footer__info {
  font-size: 14px;
  color: #bb9c66;
}

.footer__menu {
  padding: 0 30px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__list li {
  margin: 15px 15px 0 0;
}

.footer__link {
  font-size: 14px;
  font-family: "PFDin-med";
  text-transform: uppercase;
  letter-spacing: 1.4px;
  color: white;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  padding-top: 15px;
}

.footer__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-size: 50px;
  text-transform: uppercase;
  color: #bb9c66;
  font-family: "BravoRG";
  white-space: nowrap;
}

.footer__phone small {
  margin: 2px 5px 0 0;
  font-size: 25px;
}

.no-webp .footer__feedback{
  background: url("../img/feedback.png") left no-repeat; }

.footer__feedback {
  font-size: 14px;
  color: #bb9c66;
  padding-left: 12px;
}

.footer__feedback span {
  border-bottom: 1px dashed;
}

._anim-items {
  -webkit-transform: translateX(150%);
      -ms-transform: translateX(150%);
          transform: translateX(150%);
  opacity: 0;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

._anim-items._active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.info__block_news {
  -webkit-transform: translateX(-150%);
      -ms-transform: translateX(-150%);
          transform: translateX(-150%);
  opacity: 0;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.info__block_news._active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.subscribe__title {
  -webkit-transform: translateY(150%);
      -ms-transform: translateY(150%);
          transform: translateY(150%);
  opacity: 0;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.subscribe__title img {
  width: 22px;
  height: 25px;
}

.subscribe__title._active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.subscribe__text {
  -webkit-transform: translateX(-150%);
      -ms-transform: translateX(-150%);
          transform: translateX(-150%);
  opacity: 0;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.subscribe__text._active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.footer__contacts {
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.footer__contacts._active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.footer__column_full {
  -webkit-transform: translateX(-150%);
      -ms-transform: translateX(-150%);
          transform: translateX(-150%);
  opacity: 0;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.footer__column_full._active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.footer__menu {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.footer__menu._active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.service_expert {
  -webkit-transform: translateX(-150%);
      -ms-transform: translateX(-150%);
          transform: translateX(-150%);
  opacity: 0;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.service_expert._active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.service_components {
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  opacity: 0;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.service_components._active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.service_repair {
  -webkit-transform: translateX(150%);
      -ms-transform: translateX(150%);
          transform: translateX(150%);
  opacity: 0;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.service_repair._active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

@media (min-width: 992px) {
  .btn_big .btn__body span:hover {
    opacity: 0.5;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }

  .btn:hover .item-main-slider__btn {
    background-color: white;
    -webkit-transition: background-color 0.7s ease;
    -o-transition: background-color 0.7s ease;
    transition: background-color 0.7s ease;
  }

  .lot__title:hover {
    -webkit-text-decoration: underline #bb9c66 2px;
            text-decoration: underline #bb9c66 2px;
  }

  .item:hover {
    opacity: 0.9;
    -webkit-transition: opacity 0.7s ease;
    -o-transition: opacity 0.7s ease;
    transition: opacity 0.7s ease;
  }

  .item:hover .item__bg {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .header__logo:hover {
    opacity: 0.7;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
  }

  .header__logo:active {
    opacity: 0.4;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

  .menu__link {
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%, transparent), color-stop(90%, #b18e57), to(#b18e57));
    background-image: -o-linear-gradient(transparent 0%, transparent 90%, #b18e57 90%, #b18e57 100%);
    background-image: linear-gradient(transparent 0%, transparent 90%, #b18e57 90%, #b18e57 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    -webkit-transition: background-size 0.7s;
    -o-transition: background-size 0.7s;
    transition: background-size 0.7s;
  }

  .menu__link:hover {
    background-size: 100% 100%;
    background-position-x: left;
  }

  .actions-header__region:hover {
    opacity: 0.8;
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
  }

  .user-header__icon:hover {
    opacity: 0.7;
    -webkit-transition: opacity 0.7s ease;
    -o-transition: opacity 0.7s ease;
    transition: opacity 0.7s ease;
  }

  .user-header__link:hover {
    text-decoration: underline;
  }

  .main-slider .item-main-slider__btn:hover {
    background-color: white;
    -webkit-transition: background-color 0.8s ease;
    -o-transition: background-color 0.8s ease;
    transition: background-color 0.8s ease;
    color: black;
  }

  .main-slider .item-main-slider__btn:hover span {
    color: #c3a774;
    -webkit-transition: color 0.8s ease;
    -o-transition: color 0.8s ease;
    transition: color 0.8s ease;
  }

  .main-slider .control-main-slider__arrow:hover {
    opacity: 0.5;
    -webkit-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
  }

  .quotes .control-slider-quotes__circle:hover {
    opacity: 0.5;
    -webkit-transition: opacity 0.7s;
    -o-transition: opacity 0.7s;
    transition: opacity 0.7s;
  }

  .info__label {
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%, transparent), color-stop(90%, #b18e57), to(#b18e57));
    background-image: -o-linear-gradient(transparent 0%, transparent 90%, #b18e57 90%, #b18e57 100%);
    background-image: linear-gradient(transparent 0%, transparent 90%, #b18e57 90%, #b18e57 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    -webkit-transition: background-size 0.7s;
    -o-transition: background-size 0.7s;
    transition: background-size 0.7s;
  }

  .info__label:hover {
    background-size: 100% 100%;
    background-position-x: left;
  }

  .form-subscribe__btn span:hover {
    opacity: 0.6;
    -webkit-transition: opacity 0.7s;
    -o-transition: opacity 0.7s;
    transition: opacity 0.7s;
  }

  .footer__link {
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%, transparent), color-stop(90%, #b18e57), to(#b18e57));
    background-image: -o-linear-gradient(transparent 0%, transparent 90%, #b18e57 90%, #b18e57 100%);
    background-image: linear-gradient(transparent 0%, transparent 90%, #b18e57 90%, #b18e57 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    -webkit-transition: background-size 0.7s;
    -o-transition: background-size 0.7s;
    transition: background-size 0.7s;
  }

  .footer__link:hover {
    background-size: 100% 100%;
    background-position-x: left;
  }

  .services__item:hover {
    opacity: 0.5;
    -webkit-transition: opacity 0.7s;
    -o-transition: opacity 0.7s;
    transition: opacity 0.7s;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
}

@media (max-width: 991px) {
  .footer__phone {
    font-size: 40px;
  }

  .footer__phone small {
    font-size: 20px;
  }
}

@media (max-width: 975px) {
  .lot__title {
    font-size: 18px;
  }

  .info-lot__current-bet {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .current-bet-info-lot {
    padding: 0 10px;
  }

  .slider-lots__body {
    margin: 0 -15px 50px;
  }

  .slider-lots__slide {
    padding: 0 15px;
  }

  .categories__row:before {
    left: 50%;
  }

  .categories__row:after {
    display: none;
  }

  .categories__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 890px) {
  .actions-header__region {
    padding-left: 0;
  }

  .actions-header__region span {
    display: none;
  }

  .actions-header__user {
    margin-left: 15px;
  }

  .user-header__link_1 {
    white-space: nowrap;
  }

  .user-header__link_2 {
    white-space: nowrap;
  }
}

@media (max-width: 783px) {
  .main-slider__control {
    -webkit-transform: translate(-50%, -70%);
        -ms-transform: translate(-50%, -70%);
            transform: translate(-50%, -70%);
  }
}

@media (max-width: 767.98px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }

  .menu__body {
    background-color: rgba(28, 36, 42, 0.98);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 170px 0 20px 0;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  .menu__body:after {
    content: "";
    background-color: #1c242a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
  }

  .menu__body._active {
    opacity: 1;
    visibility: visible;
  }

  .menu__list {
    display: block;
    text-align: center;
  }

  .menu__list li {
    margin-bottom: 30px;
  }

  .menu__list li:last-child {
    margin-bottom: 0;
  }

  .menu__list._margin {
    margin-top: 100px;
  }

  .menu__link {
    font-size: 20px;
  }

  .icon-menu {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 1;
  }

  .icon-menu .line {
    display: block;
    width: 35px;
    height: 3px;
    background-color: #d4c09b;
    margin-block: 10px;
    border-radius: 4px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    opacity: 0 0.25s;
  }

  .icon-menu._active .line:nth-child(1) {
    -webkit-transform: translateY(13px) rotate(45deg);
        -ms-transform: translateY(13px) rotate(45deg);
            transform: translateY(13px) rotate(45deg);
    background-color: #ba9b65;
  }

  .icon-menu._active .line:nth-child(2) {
    opacity: 0;
  }

  .icon-menu._active .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
        -ms-transform: translateY(-13px) rotate(-45deg);
            transform: translateY(-13px) rotate(-45deg);
    background-color: #ba9b65;
  }

  .user-header__menu {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 767px) {
  .actions-header__region {
    display: none;
  }

  .categories {
    margin-bottom: 35px;
  }

  .categories__items {
    margin-bottom: 0px;
  }

  .categories .text-categories__body::before {
    display: none;
  }

  .categories .text-categories__body {
    padding: 10px 0 25px 0;
    background: none;
  }

  .quotes {
    padding: 35px 0 35px 0;
  }

  .info {
    margin-bottom: 35px;
  }

  .info__row {
    display: block;
  }

  .info__column {
    margin-bottom: 30px;
  }

  .info__item {
    margin-bottom: 20px;
  }

  .title-info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px;
  }

  .subscribe__body {
    display: block;
  }

  .subscribe__text {
    margin-bottom: 30px;
  }

  .footer__container {
    display: block;
    text-align: center;
  }

  .footer__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 15px 7px 0 7px;
  }

  .footer__contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__phone {
    margin-bottom: 12px;
  }
}

@media (max-width: 650px) {
  .categories__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 640px) {
  .services {
    padding: 40px 0 0 0;
  }

  .services__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 570px) {
  .quotes .slider-quotes__body {
    margin-bottom: 30px;
  }

  .quotes .slider-quotes__slide {
    display: block;
  }
}

@media (max-width: 525px) {
  .main-slider__control {
    -webkit-transform: translate(-50%, -98%);
        -ms-transform: translate(-50%, -98%);
            transform: translate(-50%, -98%);
  }
}

@media (max-width: 450px) {
  .control-slider-lots__arrow span {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
  }
}

@media (max-width: 434px) {
  .main-slider__control {
    -webkit-transform: translate(-50%, -130%);
        -ms-transform: translate(-50%, -130%);
            transform: translate(-50%, -130%);
  }
}

@media (max-width: 390px) {
  .block-decor .block-decor__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
  }
}

@media (max-width: 389px) {
  .main-slider__control {
    -webkit-transform: translate(-50%, -158%);
        -ms-transform: translate(-50%, -158%);
            transform: translate(-50%, -158%);
  }
}

.webp .actions-header__region{ background: url(../img/globe.webp) left no-repeat; }

.webp .user-header__link_1{ background: url(../img/globe_hover.webp) left center no-repeat; }

.webp .user-header__link_2{ background: url(../img/key.webp) left center no-repeat; }

.webp .user-header__link_3{ background: url(../img/hand.webp) 3px center no-repeat; }

.webp .user-header__link_4{ background: url(../img/hammer.webp) left center no-repeat; }

.webp .main-slider .control-main-slider__arrow{ background: url(../img/arrows.webp) 0 0 no-repeat; }

.webp .control-slider-lots__arrow span{ background: url(../img/arrow_lots.webp) left no-repeat; }

.webp .control-slider-lots__link{ background: url(../img/circle_lots.webp) 0 0 no-repeat; }

.webp .categories .text-categories__body{ background: url(../img/decor_text.webp) left top repeat-y; }

.webp .categories .text-categories__body::before{ background: url(../img/decor_text_header.webp) 0 0 no-repeat; }

.webp .quotes .control-slider-quotes__circle{ background: url(../img/refresh.webp) center no-repeat; }

.webp .form-subscribe__btn span{ background: url(../img/email_arrow.webp) right no-repeat; }

.webp .footer__feedback{ background: url(../img/feedback.webp) left no-repeat; }